# Introducción a Pandas y DataFrames

## Importando Pandas

In [13]:
import pandas as pd

## Series en Pandas
### Crear una Serie

In [14]:
data = [10, 20, 30, 40]
series = pd.Series(data)
print("Serie:")
print(series)

type(data)

Serie:
0    10
1    20
2    30
3    40
dtype: int64

list

In [6]:
type(series)

pandas.core.series.Series

### Acceso a elementos de una Serie

In [17]:
series = pd.Series(data)
print(series)
print("Elemento en la posición 2:", series[3])

0    10
1    20
2    30
3    40
dtype: int64
Elemento en la posición 2: 40

### Ejercicio Práctico (Series):
1. Crea una Serie que contenga los nombres de 5 estudiantes.
2. Accede al tercer estudiante usando su índice.

In [20]:
nombres=['Ruben', 'Natalia', 'Francheska', 'Silvia', 'Gabriela']
s_names=pd.Series(nombres)

display(s_names)

0         Ruben
1       Natalia
2    Francheska
3        Silvia
4      Gabriela
dtype: object

In [22]:
print(s_names[2])

Francheska

## DataFrames en Pandas
### Crear un DataFrame

In [24]:
data = {
    'Nombre': ['Juan', 'Ana', 'Luis'],
    'Edad': [23, 21, 25],
    'Ciudad': ['Quito', 'Guayaquil', 'Cuenca']
}

df = pd.DataFrame(data)
print("DataFrame:")
display(df)

DataFrame:

  Nombre  Edad     Ciudad
0   Juan    23      Quito
1    Ana    21  Guayaquil
2   Luis    25     Cuenca

### Acceso a columnas

In [25]:
# Acceso por índice posicional
print("Primera fila usando iloc:")
print(df.iloc[0])

Primera fila usando iloc:
Nombre     Juan
Edad         23
Ciudad    Quito
Name: 0, dtype: object

In [ ]:
# Acceso por etiqueta (si el índice es nombrado)
print("Fila con etiqueta 'a' usando loc (modifica el índice para probar):")

### Ejercicio Práctico (DataFrames):
1. Crea un DataFrame con información ficticia de productos: nombre, precio y cantidad.
2. Filtra los productos con un precio mayor a 50.
3. Ordena el DataFrame por cantidad en orden descendente.

## Operaciones Básicas con DataFrames
### Añadir una nueva columna

In [ ]:
df['Saludo'] = 'Hola ' + df['Nombre']
print("DataFrame con nueva columna:")
print(df)

### Filtrado de filas

In [ ]:
# Filtrar personas mayores de 22 años
print("Filtrar filas donde Edad > 22:")
print(df[df['Edad'] > 22])

### Estadísticas descriptivas

In [ ]:
print("Resumen estadístico:")
print(df.describe())

### Ejercicio Práctico (Operaciones):
1. Agrega una nueva columna a un DataFrame que calcule un descuento de 10% sobre un precio inicial.
2. Filtra las filas donde la cantidad sea mayor que 10.
3. Calcula la media de los precios en el DataFrame.


## Selección y Acceso Avanzado
### Selección con condiciones

In [ ]:
print("Selección condicional:")
print(df[(df['Edad'] > 22) & (df['Ciudad'] == 'Quito')])

### Acceso por índices y etiquetas

In [ ]:
# Seleccionar una celda específica
print("Acceso a celda específica (iloc[0, 1]):")
print(df.iloc[0, 1])  # Fila 0, columna 1

### Ejercicio Práctico (Selección):### Ejercicio Práctico (Selección):
1. Crea un DataFrame que represente las ventas de una tienda con columnas: producto, ventas, y ganancias.
2. Filtra los productos con ganancias mayores a 500.
3. Selecciona las primeras 2 filas y las columnas "producto" y "ventas".

## Guardar y Cargar Datos
### Guardar un DataFrame en un archivo CSV

In [ ]:
df.to_csv('dataframe.csv', index=False)
print("DataFrame guardado como 'dataframe.csv'")

### Cargar un DataFrame desde un archivo CSV

In [ ]:
df_loaded = pd.read_csv('dataframe.csv')
print("DataFrame cargado desde 'dataframe.csv':")
print(df_loaded)

### Ejercicio Práctico (Guardar y Cargar):
1. Guarda un DataFrame con datos ficticios en un archivo CSV.
2. Carga el archivo y muestra su contenido.